body {
  color: bisque;
  text-decoration-color: aqua;
  background-color: gray;
  text-align: justify;
  text-align: center;
  text-size-adjust: 50 50 59 50;
  height: 1000px;


}
img{
  width: 60%;
  height: 6%;
  border: 20px solid black;
  position: sticky;
  display: flex;
  justify-content: center;
  








}
